page-qrcode-modal {
	ion-navbar{
		text-align: center;
	}

	ion-card-content{
		text-align: center;
	}

	.center{
		text-align: center;
	}

	.title-center{
		margin-left: 10%;
		text-align: center;
	}

	.text-left{
		text-align: left !important;
	}
}
