page-checkout-success {
    .body{
        width: 100%;
        height: 100%;
        background-color: #15953e;
        color: #fff;
        font-size: 130px;
        text-align: center;
        padding-top: 30%;
    }
    p{
        font-size: 20px;
    }
    .btn{
    	color: #fff;
    	text-align: center;
    	font-size: 15px;
    }
}
