page-passenger-confirmation {
	.box-passanger {
		margin-top: 10px;
		padding: 15px;
		border: 1px solid;
		border-color: #e5e5e5;
	}

	.text-right {
		float: right;
	}

	.primary{
		color: #2d3d71;
	}
	
	.btn{
    	color: #fff;
    	text-align: center;
    	font-size: 15px;
    }
}
