<ion-header>
  <ion-navbar color="primary">
    <ion-searchbar placeholder="Procurar destino" showCancelButton [(ngModel)]="busca.destino" (keyup)="getCities(1,5)"></ion-searchbar>
    
    <ion-list class="search-box" *ngIf="cidades.length > 0">
      <button ion-item *ngFor="let item of cidades" (click)="goToResultPage(item.name)">
        {{ item.name }}
      </button> 
    </ion-list>

    <button ion-button block color="secondary" (click)="goToAdvancedSearchPage()" *ngIf="cidades.length == 0" >Pesquisa Avançada</button>
  </ion-navbar>
</ion-header>

<ion-content class="container">

  <div class="banner-principal">
    <img src="assets/imgs/banner_1.jpg" width="100%" height="100px">
  </div>

  <ion-label>Mais Procurados</ion-label>
  <div class="slide-width">
    <ion-slides pager loop autoplay="3000" speed="1500">

      <ion-slide>
        <ion-card (click)="goToAboutPage()">
          <img src="assets/imgs/sao_paulo.png"/>
          <div class="card-title">São Paulo</div>
          <div class="card-subtitle">41 Listings</div>
        </ion-card>
      </ion-slide>
    
      <ion-slide>
          <ion-card>
            <img src="assets/imgs/sao_paulo.png"/>
            <div class="card-title">Amsterdam</div>
            <div class="card-subtitle">64 Listings</div>
          </ion-card>
      </ion-slide>
    
      <ion-slide>
          <ion-card>
            <img src="assets/imgs/sao_paulo.png"/>
            <div class="card-title">San Francisco</div>
            <div class="card-subtitle">72 Listings</div>
          </ion-card>
      </ion-slide>
    
    </ion-slides>
  </div>
  <ion-label>Novas Rotas</ion-label>
  <div class="slide-width">
    <ion-slides pager loop>

      <ion-slide>
        <ion-card>
          <img src="assets/imgs/sao_paulo.png"/>
          <div class="card-title">São Paulo</div>
          <div class="card-subtitle">41 Listings</div>
        </ion-card>
      </ion-slide>
    
      <ion-slide>
          <ion-card>
            <img src="assets/imgs/sao_paulo.png"/>
            <div class="card-title">Amsterdam</div>
            <div class="card-subtitle">64 Listings</div>
          </ion-card>
      </ion-slide>
    
      <ion-slide>
          <ion-card>
            <img src="assets/imgs/sao_paulo.png"/>
            <div class="card-title">San Francisco</div>
            <div class="card-subtitle">72 Listings</div>
          </ion-card>
      </ion-slide>
    
    </ion-slides>
  </div>
  <ion-label>&nbsp;</ion-label>

  <ion-fab right bottom *ngIf="data">
    <button ion-fab color="secondary" >
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab right bottom *ngIf="data">
    <button ion-fab color="secondary">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="primary"><ion-icon name="basket" (click)="goToCustomerSalesPage()"></ion-icon></button>
      <button ion-fab color="primary" ><ion-icon name="power" (click)="logout()"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab right bottom *ngIf="!data">
    <button ion-fab color="secondary" (click)="login()">
      <ion-icon name="contact"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
