<ion-header>

  <ion-navbar color="primary">
    <ion-title>Passageiro {{ passengerCurrent + 1 }}/{{ seats.length }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
	<!-- <div class="box-passenger">
		<span class="lbl-grey">Assentos Selecionados:</span>
		<span class="lbl-grey" *ngFor="let item of seats">
			&nbsp;{{ item.assento }}
		</span>
	</div> -->
	<form [formGroup]="passengersForm" novalidate>
		<!-- *ngFor="let item of passengers; let i = index" -->
		<div class="box-passenger">
			<h3 class="lbl-grey">Dados Pessoais</h3>

			<ion-item>
				<ion-label color="{{ errorName ? 'danger' : 'primary' }}" stacked>Nome</ion-label>
				<ion-input type="text" [(ngModel)]="passengerData.first_name" formControlName="first_name" (focusout)="validaCampos()"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label color="{{ errorLastName ? 'danger' : 'primary' }}" stacked>Sobrenome</ion-label>
				<ion-input type="text"[(ngModel)]="passengerData.last_name" formControlName="last_name" (focusout)="validaCampos()"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label color="{{ errorGender ? 'danger' : 'primary' }}" stacked>Gênero</ion-label>
				<ion-select [(ngModel)]="passengerData.gender" formControlName="gender">
					<ion-option value="male">Masculino</ion-option>
					<ion-option value="female">Feminino</ion-option>
					<ion-option value="other">Outro</ion-option>
				</ion-select>
			</ion-item>

			<ion-item>
				<ion-label color="{{ errorRG ? 'danger' : 'primary' }}" stacked>RG</ion-label>
				<ion-input type="tel" [(ngModel)]="passengerData.rg" formControlName="rg" (focusout)="validaCampos()"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label color="{{ errorCPF ? 'danger' : 'primary' }}" stacked>CPF</ion-label>
				<ion-input type="tel" [(ngModel)]="passengerData.cpf" formControlName="cpf" (focusout)="validaCampos()"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label color="{{ errorDtaNasc ? 'danger' : 'primary' }}" stacked>Data de Nascimento</ion-label>
				<ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="passengerData.birth_date" formControlName="birth_date"></ion-datetime>
			</ion-item>

		</div>
	</form>


</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <div *ngIf="nextPassenger" class="btn" (click)="goToNextPassenger(passengerData)">Próximo Passageiro &nbsp; <i class="fa fa-arrow-right"></i></div>
    <div *ngIf="nextPage" class="btn" (click)="goToConfirmationPage(passengerData)">Continuar &nbsp; <i class="fa fa-arrow-right"></i></div>
  </ion-toolbar>
</ion-footer>