page-passenger-information {
	.box-passanger {
		margin-top: 5px;
		padding: 5px;
	}

	.lbl-grey {
		color: #2d3d71;
	}

	.btn{
    	color: #fff;
    	text-align: center;
    	font-size: 15px;
    }
}
